<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Product REST service</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
      var app = angular.module("ProductManagement", []);

      //Controller Part
      app.controller("ProductManagementController", function ($scope, $http) {

        //Initialize page with default data which is blank in this example
        $scope.products = [];

        $scope.form = {
          name: "",
          description: ""
        };

        //Now load the data from server
        _refreshPageData();

        //HTTP POST methods for add products
        $scope.add = function () {
          var data = { "name": $scope.form.name, "description": $scope.form.description };

          $http({
            method: "POST",
            url: '/api/product',
            data: angular.toJson(data),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(_success, _error);
        };

        /* Private Methods */
        //HTTP GET- get all products collection
        function _refreshPageData() {
          $http({
            method: 'GET',
            url: '/api/product'
          }).then(function successCallback(response) {
            $scope.products = response.data;
          }, function errorCallback(response) {
            console.log(response.statusText);
          });
        }


        function _success(response) {
          _refreshPageData();
          _clearForm();
        }

        function _error(response) {
          alert(response.data.message || response.statusText);
        }

        //Clear the form
        function _clearForm() {
          $scope.form.name = "";
          $scope.form.description = "";
        }
      });
    </script>
</head>
<body ng-app="ProductManagement" ng-controller="ProductManagementController">

<div class="container">
    <h1>REST Service - Product</h1>

    <h3>Add a product</h3>
    <form ng-submit="add()">
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Name" ng-model="form.name" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Description" ng-model="form.description" size="60"/></div>
        </div>
        <input type="submit" value="Save"/>
    </form>

    <h3>Product List</h3>
    <div class="row">
        <div class="col-4">Name</div>
        <div class="col-8">Description</div>
    </div>
    <div class="row" ng-repeat="product in products">
        <div class="col-4">{{ product.name }}</div>
        <div class="col-8">{{ product.description }}</div>
    </div>
</div>

</body>
</html>