<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Customer REST service</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
      var app = angular.module("CustomerManagement", []);

      //Controller Part
      app.controller("CustomerManagementController", function ($scope, $http) {

        //Initialize page with default data which is blank in this example
        $scope.customers = [];

        $scope.form = {
          code: "",
          accountNumber: "",
          name: "",
          surname: "",
          phone: "",
          address: ""
        };

        //Now load the data from server
        _refreshPageData();

        //HTTP POST methods for add products
        $scope.add = function () {
          var data = { "code": $scope.form.code,
                        "accountNumber": $scope.form.accountNumber,
                        "name": $scope.form.name,
                        "surname": $scope.form.surname,
                        "phone": $scope.form.phone,
                        "address": $scope.form.address
                      };

          $http({
            method: "POST",
            url: '/api/customer',
            data: angular.toJson(data),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(_success, _error);
        };

        /* Private Methods */
        //HTTP GET- get all products collection
        function _refreshPageData() {
          $http({
            method: 'GET',
            url: '/api/customer'
          }).then(function successCallback(response) {
            $scope.customers = response.data;
          }, function errorCallback(response) {
            console.log(response.statusText);
          });
        }


        function _success(response) {
          _refreshPageData();
          _clearForm();
        }

        function _error(response) {
          alert(response.data.message || response.statusText);
        }

        //Clear the form
        function _clearForm() {
          $scope.form.code = "";
          $scope.form.accountNumber = "";
          $scope.form.name = "";
          $scope.form.surname = "";
          $scope.form.phone = "";
          $scope.form.address = "";
        }
      });
    </script>
</head>
<body ng-app="CustomerManagement" ng-controller="CustomerManagementController">

<div class="container">
    <h1>REST Service - Customer</h1>

    <h3>Add a customer</h3>
    <form ng-submit="add()">
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Code: 123457890" pattern="[0-9]{10}" ng-model="form.code" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Account Number: 2038-5778-98-3000760236" pattern="[0-9]{4}-[0-9]{4}-[0-9]{2}-[0-9]{10}" ng-model="form.accountNumber" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Name" ng-model="form.name" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Surname" ng-model="form.surname" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Phone: 600123457" pattern="[0-9]{3}[0-9]{3}[0-9]{3}" ng-model="form.phone" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Address" ng-model="form.address" size="60"/></div>
        </div>
        <input type="submit" value="Save"/>
    </form>

    <h3>Customer List</h3>
    <div class="row">
        <div class="col-2">Code</div>
        <div class="col-3">Account Number</div>
        <div class="col-1">Name</div>
        <div class="col-1">Surname</div>
        <div class="col-1">Phone</div>
        <div class="col-2">Address</div>
    </div>
    <div class="row" ng-repeat="customer in customers">
        <div class="col-2">{{ customer.code }}</div>
        <div class="col-3">{{ customer.accountNumber }}</div>
        <div class="col-1">{{ customer.name }}</div>
        <div class="col-1">{{ customer.surname }}</div>
        <div class="col-1">{{ customer.phone }}</div>
        <div class="col-2">{{ customer.address }}</div>
    </div>
</div>

</body>
</html>
